{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Hello {{ controller_name }}!{% endblock %}
=======
{% block title %} {{ controller_name }}!{% endblock %}
>>>>>>> 4ec2667cecbf79c85539db7010e00ddcca4d2b2a

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>src/Controller/SecurityController.php</code></li>
        <li>Your template at <code>templates/security/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
