{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}{{ controller_name }} {% endblock %}
=======
{% block title %} {{ controller_name }} {% endblock %}
>>>>>>> 4ec2667cecbf79c85539db7010e00ddcca4d2b2a

{% block body %}

	<!-- Main wrapper  -->
    <div id="main-wrapper">
        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="login-content card">
                            <div class="login-form">
                                <h4>Login</h4>
<<<<<<< HEAD
                                <form action="{{ path('login') }}" method="post">
                                    <div class="form-group">
                                        <label>Nom d'utilisateur</label>
                                        <input type="text" class="form-control" value="{{ last_username }}" placeholder="Nom d'utilisateur" name="_username">
                                    </div>
                                    <div class="form-group">
                                        <label>Mot de passe</label>
                                        <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe">
=======
                                <form>
                                    <div class="form-group">
                                        <label>Adresse mail</label>
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label>Mot de passe</label>
                                        <input type="password" class="form-control" placeholder="Password">
>>>>>>> 4ec2667cecbf79c85539db7010e00ddcca4d2b2a
                                    </div>
                                    <div class="checkbox">
                                        <label>
        										<input type="checkbox"> Se souvenir de moi
        									</label>
                                        <label class="pull-right">
        										<a href="#">Mot de passe oublié ?</a>
        									</label>

                                    </div>
<<<<<<< HEAD
                                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Se connecter</button>
=======
                                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
>>>>>>> 4ec2667cecbf79c85539db7010e00ddcca4d2b2a
                                    <div class="register-link m-t-15 text-center">
                                        <p>Vous n'avez pas de compte ? <a href="/register"> Inscrivez-vous ici !</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wrapper -->

{% endblock %}


