{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>src/Controller/WelcomeController.php</code></li>
        <li>Your template at <code>templates/welcome/index.html.twig</code></li>
    </ul>

    {% for welcome in welcomes %}
    	{{ welcome.name }}
    {% endfor %}
</div>
{% endblock %}
