{% extends 'base.html.twig' %}

{% block title %}Édition de projet{% endblock %}

{% block body %}
	<h1>Édition du projet : {{ project.name }}</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('project_index') }}"><- Retour à la liste</a>
	
		
{% endblock %}